.carouselContainer{
  position: relative;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  overflow: hidden;
}

.btn-next{
  position: absolute;
  border: 2px solid red;
  padding: 10px;
  top: 50%;
  /* transform: translate(-50Y); */
  right: 0;
  background-color: hsl(180, 100%, 50%);
  cursor: pointer;
}

.btn-prev{
  position: absolute;
  border: 2px solid red;
  padding: 10px;
  top: 50%;
  left: 0;
  background-color: hsl(180, 100%, 50%);
  cursor: pointer;
  /* transform: translate(-50Y); */
}

.carouselitem{
  transition: transform 0.5 ease-in;
}