/* .qnCard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.qnCard{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}